@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}
	body{
		background-color: #ffff;
}
/*Panel nawigacyjny*/
nav{
	clear: both;
	display: flex;
	background-color: #3534ff
	justify-content: center;
	margin: 20px 5px;
}
#panel-line{
	background-color: black;
	height: 2px;
	border: none;
}
.panel-logo{
	padding: 5px 0px;
	width: 6em;
	height: 6em;
}

#panel-bar{
	float: right;
	
}
.page{
	color: #326a34;
	text-decoration: none;
}
.panel{
	display: inline;
	list-style-type: square;
	color: #326a34;
	padding: 0.25em .5em;
	margin: 0 0.5em;
	text-underline-offset: 0.25em;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.page:hover{
	color: #fff;
	box-shadow: inset 200px 0 0 0 #326a34;
	padding: 0.25em 0em;
	font-weight: 600;
}
/*Koniec Panelu Nawigacyjnego*/



	